body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #24292e;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

.section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 300px;
    background: linear-gradient(135deg, #4C68FF, #6BCB77);
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contenido-sobre-mi {
    text-align: center;
    margin-top: -50px;
    padding: 20px;
}

.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.herramientas {
    width: 90px;
    height: 90px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
    color: #333;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background: #24292e;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.tarjetas {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.row {
    display: grid;
    gap: 20px;
    margin-top: 20px;
}